@import "constants";

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $white;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $white;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: $white;
}

@font-face {
    font-family: "Crete Round";
    src: url("fonts/CreteRound.ttf");
}

@font-face {
    font-family: "Raleway";
    src: url("fonts/Raleway.ttf");
}

a {
    text-decoration: none;
    color: $white;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: $blue;
    color: $white;
    font-family: $raleway;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin bigHeader {
    font-family: $crete;
    font-size: $bigHeaderSize;
    text-align: center;
}

@mixin shadow {
    -webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.3);
}

@mixin textShadow {
    text-shadow: 0px 4px 10px rgba(0,0,0,0.3);
}

@mixin noSelect {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

@mixin subHeader {
    font-family: $raleway;
    font-size: $subHeaderSize;
    font-weight: 700;
    @include textShadow();
}

@mixin greenBtn {
    height: 45px;
    padding: 20px 50px 6px 50px;
    font: {
        family: $crete;
        size: 1.5em;
    }
    border-radius: 50px;
    @include shadow;
    @include noSelect;
    background-color: $green;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

@mixin textInput {
    &:focus {
        outline: none;
    }
    border: none;
    border-bottom: 2px solid $white;
    padding: 12px 20px;
    box-sizing: border-box;
    font-family: $raleway;
    font-size: 24px;
    background: none;
    color: $white;
}

@mixin inputPlaceholder {
    ::placeholder {
        color: $white;
        opacity: 1;
    }
    &:-ms-input-placeholder {
        color: $white;
    }
    ::-ms-input-placeholder {
        color: $white;
    }
}

.yellow-btn {
    color: $yellow;
    font-weight: 700;
    @extend .hvr-underline-from-center;
}

.footer {
    font: {
        family: $raleway;
        size: 18px;
    }
    position: fixed;
    bottom: 40px;
    text-align: center;
    right: 0;
    left: 0;
}

.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}
.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: $green;
    height: 2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}