@import "index";
@import "admin-base";

.top-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        ". .";
}

.page-btn-container {
    display: flex;
    justify-self: end;
}

#settings-dropdown {
    z-index: 10;
}

.page-btn {
    background-color: $green;
    margin-left: 20px;
    height: min-content;
    align-self: center;
    border-radius: 50%;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    @include shadow;
    img {
        @include imgShadow;
        width: 100%;
    }
    &:first-child {
        margin-left: 0 !important;
    }
    &:not(.enabled) {
        opacity: 0.5;
        cursor: auto;
    }
}